<div class="login-page">
    <img src="assets/images/pexels-olly-3760081.jpg" alt="China Img">
    <div class="form-field">
        <div class="form-head">
            <span>Login Here</span>
        </div>

        <form [formGroup]="form" (ngSubmit)="OnSubmit()">
            <div class="form-detail">
                <label>Email</label>
                <input type="email" placeholder="Enter username" formControlName="username">
            </div>
            <div class="form-detail">
                <label>Password</label>
                <input type="password" placeholder="Password" formControlName="password">
            </div>
            <div class="login-btn">
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="for-register">
            <p>Not Have Account? <button routerLink="/signup">Register here</button></p>
        </div>
    </div>
</div>