<div class="wishlist-container">
    <button id="continue-button" routerLink="/customer/dashboard">⬅️ Continue shopping</button>

    <div id="wishlist-heading">
        <h4>WishList</h4><br>
        <span>{{wishlists.length}}-items</span>
    </div>

    <div id="item-lists">
        <div id="container">
            <mat-card *ngFor="let product of wishlists">
                <mat-card-header>
                    <mat-card-title>
                        <img [src]="product.processedImg" alt="Not Found">
                    </mat-card-title>
                    <mat-card-subtitle>
                        <h3>{{product.productDtoResponse.productName}}</h3>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Colour : Green/Glass</p>
                    <p>${{product.productDtoResponse.price | number}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button id="add-to-cart" (click)="addToCart(product.productDtoResponse.productId)">Add To Cart</button>
                </mat-card-actions>
                <button id="remove" (click)="removeFromWishList(product.wishlistId)">Remove</button>
            </mat-card>
        </div>
    </div>
</div>