
.post-container {
    background-color: rgb(114, 114, 202);
    padding-top: 35px;
    height: 497px;
   
}

.post-container .form-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    border-radius: 10px;
    box-shadow: 10px 10px;
}

.post-container .form-container .title {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-style: italic;
}

.post-container .form-container .category {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

.post-container .form-container .category label {
    font-weight: bold;
    font-size: 17px;
    margin-top: 5px;
}

.post-container .form-container .category select {
    width: 40%;
    font-weight: bold;
    height: 25px;
}

.post-container .form-container .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
}

.post-container .form-container .name label {
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}

.post-container .form-container .name input {
    width: 400px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
}

.post-container .form-container .price {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 200px;
    justify-content: space-between;
    margin-top: 20px;
}

.post-container .form-container .price label {
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}


.post-container .form-container .price input {
    width: 300px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
}

.post-container .form-container .form-desc {
    margin-left: 50px;
    margin-top: 25px;
}

.post-container .form-container .form-desc label {
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}

.post-container .form-container .form-desc textarea {
    width: 60%;
    height: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
    border-radius: 10px;
}

.post-container .form-container .prod-img {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.post-container .form-container .prod-img span {
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}

.post-container .form-container .prod-img input {
    width: 250px;
}

.post-container .form-container .action-btns {
    float: right;
    padding-right: 50px;
    padding-bottom: 10px;

}

.post-container .form-container .action-btns button {
    background-color: blue;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    width: 165px;
    height: 45px;
    color: white;
}

.post-container .form-container .action-btns button:hover {
    transform: scale(1.1);
    background-color: darkblue;
}
