<div *ngIf="!isSellerLoggedIn && !isCustomerLoggedIn">
  <div class="navbar">
    <nav>
      <button routerLink="about">AboutDev</button>
      <button routerLink="documentation">Documentation</button>
      <button routerLink="signup">Signup</button>
      <button routerLink="login">Login</button>
    </nav>
  </div>
</div>

<div *ngIf="isSellerLoggedIn">
  <div class="customer-navbar">
    <nav id="nav1">
      <div id="nav1-buttons">
        <button class="marketplace">Marketplace</button>
        <button class="helps">Help&FAQs</button>
      </div>
      <img class="nav1-img" src="assets/images/china.png" alt="Country">
    </nav>

    <nav id="nav2">
      <h1 class="nav2-logo">LOGO</h1>
      <div class="nav2-buttons">
        <button>Men</button>
        <button>Women</button>
      </div>
    </nav>

    <nav id="nav3">
      <div>
        <span><img id="nav3-img" src="assets/images/dragon.png" alt="Logo"></span>
        <div id="nav3-buttons">
          <button routerLink="seller/dashboard">Dashboard</button>
          <button routerLink="seller/faq">Analytics</button>
          <button routerLink="seller/category">Category</button>
          <button routerLink="seller/post-product">Product</button>
          <button routerLink="seller/post-coupon">post-cupons</button>
          <button routerLink="seller/coupons">Cupons</button>
          <button (click)="logout()">LogOut</button>
        </div>
      </div>
    </nav>
  </div>
</div>




<div *ngIf="isCustomerLoggedIn">
  <div class="customer-navbar">
    <nav id="nav1">
      <div id="nav1-buttons">
        <button class="marketplace">Marketplace</button>
        <button class="helps">Help&FAQs</button>
      </div>
      <img class="nav1-img" src="assets/images/china.png" alt="Country">
    </nav>

    <nav id="nav2">
      <div class="nav2-logo">
        <span>LOGO</span>
      </div>
      <div class="nav2-buttons">
        <button>Men</button>
        <button>Women</button>
      </div>
      <div id="search-product">
       <form [formGroup]="searchSimilarProduct" (ngSubmit)="searchSimilarProducts()">
        <input type="text" placeholder="Search Products" formControlName="productName">
        <button type="submit">&#128270;</button>
       </form>
      </div>
    </nav>

    <nav id="nav3">
      <div>
        <span><img id="nav3-img" src="assets/images/dragon.png" alt="Logo"></span>
        <div id="nav3-buttons">
          <button routerLink="customer/home">Home</button>
          <button routerLink="customer/carts">Carts</button>
          <button routerLink="customer/my-order">Orders</button>
          <button routerLink="customer/wishlist">WishList</button>
          <button routerLink="customer/profile">Profile</button>
          <button (click)="logout()">LogOut</button>
        </div>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>