<div class="post-container">
    <div class="form-container">
        <div class="title">
            <span>Update Product</span>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="category">
                <label>Select A Category</label>
                <select formControlName="category">
                    <optgroup *ngFor="let category of categories">
                        <option value="{{category}}">{{category}}</option>
                    </optgroup>
                </select>
            </div>

            <div class="name">
                <div>
                    <label>Shop / Enterprise Name : </label><br>
                    <input type="text" placeholder="Enter the Shop name" formControlName="shopName">
                </div>

                <div>
                    <label>Product Name : </label><br>
                    <input type="text" placeholder="Enter the Product name" formControlName="productName">
                </div>
            </div>

            <div class="price">
                <div>
                    <label>MRP : </label><br>
                    <input type="number" placeholder="Enter the Product Price" formControlName="price">
                </div>

                <div>
                    <label>Discounts in % : </label><br>
                    <input type="number" placeholder="Enter the Discounts in percentage" formControlName="discounts">
                </div>
            </div>

            <div class="form-desc">
                <label>Product Description : </label><br>
                <textarea placeholder="Describe about the product." formControlName="desc"></textarea>
            </div>

            <div class="prod-img">
                <span>Attach File</span>
                <input type="File" (change)="onSelectedFile($event)">
            </div>

            <div class="action-btns">
                <button type="submit">Update Product</button>
            </div>
        </form>
    </div>
</div>