<div class="register-form">
    <div class="form-container">
        <header>
            <span>Register Here</span>
        </header>

        <div class="form-field">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="form-input">
                    <div class="input-field">
                        <label>First Name : </label>
                        <input type="text" 
                        name="firstName"
                        placeholder="Enter First Name" 
                        formControlName="firstName"
                        >
                        <div class="errors" *ngIf="firstName?.touched && firstName?.invalid">
                            <span>First Name is Required</span>
                        </div>
                    </div>
                    <div class="input-field">
                        <label>Last Name : </label>
                        <input type="text" placeholder="Enter Last Name" formControlName="lastName">
                        <div class="errors" *ngIf="lastName?.touched && lastName?.invalid">
                            <span>Last Name is Required</span>
                        </div>
                    </div>
                    <div class="select-opt">
                        <label>Gender</label>
                        <select formControlName="gender">
                            <optgroup *ngFor="let gender of genders">
                                <option value="{{gender}}">{{gender}}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <div class="form-input">
                    <div class="input-field">
                        <label>Email : </label>
                        <input type="email" placeholder="Enter Your Email" formControlName="email">
                        <div class="errors" *ngIf="email?.touched && email?.invalid">
                            <span>Email Name is Required</span>
                        </div>
                    </div>

                    <div class="input-field">
                        <label>Password : </label>
                        <input type="password" placeholder="Enter Your Password" formControlName="password">
                        <div class="errors" *ngIf="password?.touched && password?.invalid">
                            <span>Password is Required</span>
                        </div>
                    </div>

                    <div class="select-opt">
                        <label>Are you a customer or seller?</label>
                        <select formControlName="roles">
                            <optgroup *ngFor="let role of roles">
                                <option value="{{role}}">{{role}}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <div class="form-input">
                    <div class="input-field">
                        <label>Mobile No : </label>
                        <input type="text" placeholder="+91 87897 98098" formControlName="mobileNo">
                        <div class="errors" *ngIf="mobileNo?.touched && mobileNo?.invalid">
                            <span>Mobile No is Required</span>
                        </div>
                    </div>

                    <div class="select-opt">
                        <label>Nationality</label>
                        <select formControlName="nationality">
                            <optgroup *ngFor="let country of countries">
                                <option value="{{country}}">{{country}}</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="select-opt">
                        <label>Provinces : </label>
                        <select formControlName="province">
                            <optgroup *ngFor="let province of provinces">
                                <option value="{{province}}">{{province}}</option>
                            </optgroup>
                        </select>
                    </div>

                </div>

                <div class="profile-img">
                    <label>Profile Image : </label>
                    <input  type="file" (change)="onFileSelected($event)">
                </div>

                <div class="action-button">
                        <div *ngIf="form.invalid">
                            <button [disabled]="form.invalid" id="disabled-btn" type="submit">Register</button>
                        </div>
                        <div *ngIf="!form.invalid">
                            <button id="enabled-btn" type="submit">Register</button>   
                        </div>
                </div>
            </form>

            <p>Already have an account?<button routerLink="/login">login</button></p>

        </div>
    </div>
</div>