<div class="coupon-container">
    <div class="coupon-heading">
        <h1>Post Frequently Asked Questions</h1>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-detail">
            <label class="label-name">Questions : </label>
            <input type="text" placeholder="Enter Question name " formControlName="question">
        </div>

        <div class="form-detail">
            <label class="label-name">Answers</label>
            <textarea name="" id="" rows="10" cols="30" placeholder="Answers" formControlName="answer"></textarea>
        </div>

        <div class="form-action">
            <button type="submit">Add FAQ</button>
        </div>
    </form>
</div>