
<div class="coupon-container">
    <div class="heading">
        <h1>All Order which you get</h1>
    </div>

    <table>
        <thead>
            <tr>
                <th>Tracking Id</th>
                <th>User-Name</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Address</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>sabthdk34-54-33-2</td>
                <td>Jessica Pearson</td>
                <td>$250,000</td>
                <td>Kanisk 24-carats pure gold necklace</td>
                <td>NewYork 24-street</td>
                <td>25-05-2027</td>
                <td>Delivered</td>
            </tr>
        </tbody>
    </table>
</div>