<div class="cart-container">
    <div>
        <button routerLink="/customer/dashboard">continue shopping</button>
        <table>
            <thead>
                <tr>
                    <th>Products</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cart of carts">
                    <td class="cart-product">
                        <div>
                            <img [src]="cart.processedImg" alt="Products Img">
                        </div>
                        <div class="prod-detail">
                            <span>{{cart.product.productName}}</span>
                            <p>{{cart.product.product_desc}}</p>
                        </div>
                    </td>
                    <td id="quantity">
                        <button (click)="decreaseQuantity(cart.cartId,cart.quantity)"
                            [disabled]="cart.quantity==1">-</button>
                        <span>{{cart.quantity}}</span>
                        <button (click)="increaseQuantity(cart.cartId,cart.quantity)">+</button>
                    </td>
                    <td id="price">
                        <span>{{cart.price | number}}</span>
                    </td>
                    <td id="action-btn">
                        <button id="wishlist-btn" (click)="addToWishlist(cart.product.productId)">💗</button>
                        <button id="remove-btn" (click)="removeFromCart(cart.cartId)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="decision-btn">
            <button id="continue-btn" routerLink="/customer/dashboard"> Continue shopping</button>
            <button id="purchase-btn" (click)="placeOrder()">Make Purchase -> </button>
        </div>
    </div>

    <div class="billing-container">
        <div id="coupons">
            <span>Have Coupon ?</span>
            <form #f="ngForm" (ngSubmit)="applyCoupon(f)">
                <input type="text" placeholder="coupon code" ngModel name="couponCode">
                <button type="submit">Apply</button>
            </form>
        </div>
        <div id="prod-price">
            <p>Total Price : ${{totalPrice | number}}</p>
            <p>Discounts : ${{(totalPrice*discounts)/100 | number}}</p>
            <p>Total : ${{(totalPrice - (totalPrice*discounts)/100) | number}}</p>
        </div>
        <div id="payment-opt">
            <img src="assets/images/american.png" alt="p-m">
            <img src="assets/images/visa.png" alt="p-m">
            <img src="assets/images/american.png" alt="p-m">
            <img src="assets/images/visa.png" alt="p-m">
        </div>
    </div>

</div>